version: "3.0"
services:
  db:
    image: postgres:12
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./postgres_scripts:/docker-entrypoint-initdb.d
    expose:
      - 5432
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_MULTIPLE_DATABASES=flaskr,fidesctl,fidesops

  fidesctl:
    image: ethyca/fidesctl:0.9.9
    depends_on:
      - db
    command: fidesctl webserver
    expose:
      - 8080
    ports:
      - "8080:8080"
    environment:
      - FIDESCTL__API__DATABASE_URL=postgresql://postgres:postgres@db:5432/fidesctl

volumes:
  postgres:
