black>=21.9b0
click>=7.0.0
fidesctl[aws]==1.8.2
Flask>=1.1.4
Flask-SQLAlchemy>=2.5.1
psycopg2-binary==2.9.1
pytest>=6.2.0
requests>=2.25.1
PyYAML>=5.4.1
watchdog>=2.1.7
pydantic>=1.8.1,<1.10.0 # TODO: remove after fidesctl:1.8.3
