html {
    background: #e2e8f0;
    padding: 1rem;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
}

h1,
h3,
h5 {
    color: #111439;
    margin: 1rem 0;
}

a {
    color: #824ef2;
}

hr {
    background-color: transparent;
    border: none;
    border-top: 1px solid #718096;
}

nav {
    background: #f7fafc;
    display: flex;
    align-items: center;
    padding: 0 1rem 1rem;
}

nav img {
    max-height: 1em;
    margin-bottom: 3px;
}

nav h5 {
    flex: auto;
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
}

article>header,
.content>header {
    display: flex;
    align-items: center;
}

.content>header h3 {
    flex: auto;
    margin: 1rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.product>header>div:first-of-type {
    flex: auto;
}

.product .about {
    font-size: 0.9em;
    color: #718096;
    font-style: italic;
    margin-bottom: 1em;
}

.product .body {
    white-space: pre-line;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

form .form-control {
    margin-bottom: 0.5rem;
}

form .btn {
    margin-top: 0.5rem;
}

.btn-primary {
    background-color: #111439;
    border-color: #111439;
}

.btn-primary:hover {
    background-color: #464b83;
    border-color: #464b83;
}