{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New Purchase - {{ product['name'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="street_1">Street 1</label>
        <input type="text" name="street_1" id="street_1" value="{{ request.form['street_1'] }}" required>
        <label for="street_2">Street 2</label>
        <input type="text" name="street_2" id="street_2" value="{{ request.form['street_2'] }}">
        <label for="city">City</label>
        <input type="text" name="city" id="city" value="{{ request.form['city'] }}" required>
        <label for="state">State</label>
        <input type="text" name="state" id="state" value="{{ request.form['state'] }}" required>
        <label for="zip">Zip</label>
        <input type="text" name="zip" id="zip" value="{{ request.form['zip'] }}" required>
        <input type="submit" value="Purchase">
    </form>
{% endblock %}