{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Register{% endblock %}</h3>
{% endblock %}

{% block content %}
  <form method="post">
    <label class="form-label" for="email">Email</label class="form-label">
    <input class="form-control" type="email" name="email" id="email" required>
    <label class="form-label" for="password">Password</label class="form-label">
    <input class="form-control" type="password" name="password" id="password" required>
    <label class="form-label" for="first_name">First Name</label class="form-label">
    <input class="form-control" type="text" name="first_name" id="first_name" required>
    <label class="form-label" for="last_name">First Name</label class="form-label">
    <input class="form-control" type="text" name="last_name" id="last_name" required>
    <input class="btn btn-primary" type="submit" value="Register">
  </form>
{% endblock %}