{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name" required>
    <label for="last_name">First Name</label>
    <input type="text" name="last_name" id="last_name" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}