{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Products{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('product.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for product in products %}
        <article class="product">
            <header>
                <div>
                    <h1>{{ product['name'] }}</h1>
                    <div class="about">added by {{ product['first_name'] }} on {{ product['created_at'] }}</div>
                </div>
                {% if g.user['id'] == product['seller_id'] %}
                    <a class="action" href="{{ url_for('product.update', id=product['id']) }}">Edit</a>
                {% endif %}
            </header>
            <p class="description">{{ product['description'] }}</p>
            <p class="price">Price: ${{ product['price'] }}</p>
            <a class="action" href="{{ url_for('purchase.create', product_id=product['id']) }}">Purchase</a>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}